.ol {
  padding-left: 100pt;
  padding-right: 20pt;
  }

h1 {
    text-align:center;
    font-family: verdana;
    border: 2px solid powderblue;
  }

h2 {
    padding-top: 15pt;
    padding-bottom: 10pt;
}

.comment {
    font-family: verdana;

}
.hidden {
    visibility: hidden;
}

.f_right {
    float:right;
    padding-right: 20pt;
    padding-left: 20pt;
    padding-top: 20pt;
    padding-bottom: 20pt;
}

.indent_txt {
    padding-left: 50pt;
    padding-right: 100pt;
}

table, th, td {
    border: 1px solid black;
  }


.center {
margin-left: auto;
margin-right: auto;
}
