h1 {
    text-align:center;
    font-family: verdana;
    border: 2px solid powderblue;
  }

img {

}

table, th, td {
    border: 1px solid black;
  }


.center {
margin-left: auto;
margin-right: auto;
}
