{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h1> This is your Finance!</h1>
    Current Cash: {{ current_cash }}
    Grand Total: {{ grand_total }}
    <h2> Holdings </h2>
    <table>
        <thead>
            <tr>
                <th>Stock</th>
                <th>Amount</th>
                <th>Price</th>
                <th>total</th>
            </tr>
        </thead>
        <tbody>
            {% for i in holdings %}
            <td>{{ i.name }}</td>
            <td>{{ i.amount }}</td>
            <td>{{ i.price }}</td>
            <td>{{ i.total }}</td>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}
