{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <p>
            <select name="symbol" id="symbol">
                {% for i in holdings%}
                    <option value={{ i.name }}>{{ i.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Amount" type="text">
        </p>
        <p>
            <button class="btn btn-primary" type="submit">Sell</button>
        </p>
    </form>
 {% endblock %}
